/* common shared style */
body{
    font-family: 'Lato' , sans-serif;
    font-family: 'Open Sans regular', sans-serif;
}
/* nav related style */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}
.logo{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color: #FD6E0A;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400px;
    
}
.btn-primary{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 15px 35px;
    color: white;
    font-size: 20px;
    font-weight: 700;

}
/* header related style */
.header{
    background-color: #FFF8F3;
    background-image: url(./webdeveloper-portfolio/images/header_bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    padding-right: 30px;
    
}
.banner-content{
    max-width: 500px;
    line-height: 30px;
}
.profile-pic{
    width: 500px;
}
.btn-custom{
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    color: #FD6E0A;
    padding: 15px 35px;
    background: none;   
}
.banner-greeting{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}
.banner-discript{
    color: #757575;
    font-size: 16px;

}